{{#> admin/content}}

<div class="container bg-light py-2">

    {{#models}}

    <div class="mb-2">

        <a class="btn btn-outline-Primary" href="/admin/{{name}}" role="button">
            <div class="border rounded" style="width: 18rem;">
                <h3>{{label}}</h3>

                {{> admin/button/create-post}}
            </div>
        </a>
    </div>

    {{/models}}

</div>

{{/ admin/content}}

<script>

</script>