{{#> admin/content}}

<div id="app" class="my-3">

    <h2 class="m-3">Media</h2>

    <div class="border rounded bg-white">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">File</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{# medias}}
                <tr>
                    <th scope="row">
                        <img src="/media/{{name}}" alt="{{title}}" height="42" width="42">
                    </th>
                    <td>
                        <a href="/admin/madia/edit/{{_id}}" class="btn btn-link">{{name}}</a>
                    </td>
                    <td>{{authorId}}</td>
                    <td>{{comments}}</td>
                    <td>{{toElapsedTime createdAt}} ago</td>
                    <td>
                        <button onClick="deleteMedia('{{_id}}')" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                {{/ medias}}
            </tbody>
        </table>

    </div>

    <form>
        <input type="file" name="file" id="file">
        <input type="submit" id="addMedia" class="btn btn-light mt-3" value="Add" />
    </form>

</div>

{{/ admin/content}}

<script>

    $(function () {
        $("#addMedia").click(function (event) {
            event.preventDefault()

            var formData = new FormData()

            var files = $('#file')[0].files[0];

            formData.append('sampleFile', files);

            var xhr = new XMLHttpRequest();

            xhr.open('POST', "/API/media/upload", true);

            xhr.onload = function (e) {
                window.location = "/admin/media"
            }

            xhr.send(formData);

        })

    })

    function addMedia() {

        // var pageTitle = $("#pageTitle").val()
        // var pageName = $("#pageName").val()
        // var pageContent = $("#pageContent").val()
    }


    function editPage(id) {
        window.location = "/admin/page/edit/" + id
    }

    function deleteMedia(mediaId) {
        $.post(URL + "/API/media/delete", { id: mediaId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/media"
        })
    }



    $(() => {

        $(".postTypeSpan").click(function () {
            $(this).hide();
            $(this).next(".postTypeInput").val($(this).text())
            $(this).next(".postTypeInput").show()
            $(this).next(".postTypeInput").focus()
        })

        $(".postTypeInput").focusout(function () {
            $(this).hide();
            $(this).prev().html($(this).val());
            $(this).prev().show();
        });

    })

</script>