<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

{{> admin/header}}

{{> admin/nav}}

<div id="app" class="container">

    <div class="card">
        <div class="card-header">
            Menus
        </div>
        <ul class="list-group list-group-flush">
            {{# menus}}
            <li class="list-group-item d-flex justify-content-between align-items-center">

                <input type="hidden" id="postId" name="postId" value="{{_id}}">
                <input type="hidden" id="format" name="format" value="{{format}}">

                <span class="mr-2">{{title}}</span>
                <!-- <span class="mr-2">{{name}}</span> -->

                <span class="mr-2">{{format}}</span>

                <span class="mr-2">{{content}}</span>

                <div>
                    <button id="save" onClick="saveMenu('{{title}}', '{{name}}', '{{content}}', '{{format}}')" class="btn btn-success btn-sm saveMenu mr-2">Save</button>
                    <button onClick="deleteMenu('{{name}}')" class="btn btn-danger btn-sm deleteMenu">Delete</button>
                </div>
            </li>
            {{/ menus}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <input type="text" id="menuTitle" class="form-control mr-2" placeholder="Title">
                <!-- <input type="text" id="menuName" class="form-control" placeholder="Name"> -->
                <select class="custom-select mr-2" id="inputGroupMenuFormat">
                    <option value="direct">Direct link</option>
                    <option value="page">Page</option>
                    <option value="post">Post</option>
                    <option value="posts">Posts</option>
                </select>
                <input type="text" id="menuContent" class="form-control mr-2" placeholder="Content">
                <button onClick="addMenu()" class="btn btn-success btn-sm">Add</button>
            </li>

        </ul>

    </div>

</div>

<br>

{{> footer}}

<script>

    function addMenu() {
        var menuTitle = $("#menuTitle").val()
        var menuName = menuTitle.toLowerCase()
        var menuContent = $("#menuContent").val()
        var menuFormat = $('#inputGroupMenuFormat').val()


        $.post(URL + "/admin/menu/create", { title: menuTitle, name: menuName, content: menuContent, format: menuFormat }, (data, statut) => {
            console.log(data)
            window.location = "/admin/menu"
        })
    }

    function deleteMenu(menuName) {
        $.post(URL + "/admin/menu/delete", { name: menuName }, (data, statut) => {
            console.log(data)
            window.location = "/admin/menu"
        })
    }

    function saveMenu(title, name, content, format) {
        name = title.toLowerCase()
        $.post(URL + "/admin/menu/save", { title: title, name: name, content: content, format: format }, (data, statut) => {
            console.log(data)
            window.location = "/admin/menu"
        })
    }

    $(() => {

        $(".postTypeSpan").click(function () {
            $(this).hide();
            $(this).next(".postTypeInput").val($(this).text())
            $(this).next(".postTypeInput").show()
            $(this).next(".postTypeInput").focus()
        })

        $(".postTypeInput").focusout(function () {
            $(this).hide();
            $(this).prev().html($(this).val());
            $(this).prev().show();
        });

    })

</script>