{{#> admin/content}}

<div class="my-3">
    
    <input type="hidden" id="postId" name="postId" value="{{menu._id}}">

    <h2 class="mb-3">Edit menu - {{menu.title}}</h2>
    
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"><span class="input-group-text">Title</span></th>
                <th scope="col"><input type="text" id="menuTitle" class="form-control" placeholder="Title" value="{{menu.title}}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><span class="input-group-text">Type</span></th>
                <td>
                    <select id="menuFormat" class="custom-select">
                        <option value="direct">Direct link</option>
                        <option value="pages">Pages</option>
                        <option value="posts">Posts</option>
                        <option value="categories">Categories</option>
                    </select>
            </tr>
            <tr>
                <th scope="row"><span class="input-group-text">Target</span></th>
                <td><input type="text" id="menuContent" class="form-control" placeholder="Target" value="{{menu.content}}"></td>
            </tr>
        </tbody>
    </table>

    <div class="pb-3">
        <a href="/admin/menus" class="btn btn-light mx-3">Return</a>
        <button onClick="saveMenu('{{menu._id}}')" class="btn btn-success mx-3">Save</button>
        <button onClick="deleteMenu('{{menu._id}}')" class="btn btn-danger">Delete</button>
    </div>

</div>

{{/ admin/content}}


<script>

    $('#menuFormat option[value={{menu.format}}]').prop('selected', true)

    function deleteMenu() {
        console.error("Not implented yet")
    }

    function saveMenu(menuId) {

        var menuTitle = $('#menuTitle').val()
        var menuContent = $('#menuContent').val()
        var menuFormat = $('#menuFormat').val()

        $.post(URL + "/API/menus/save", { id: menuId, title: menuTitle, content: menuContent, format: menuFormat }, (data, statut) => {
            console.log(data)
            window.location = "/admin/menus"
        })

    }

</script>