{{#> admin/content}}

<div class="my-3">

    <h2 class="mb-3">Edit menu - {{menu.title}}</h2>
    {{menu.format}}
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"><span class="input-group-text">Title</span></th>
                <th scope="col"><input type="text" class="form-control" placeholder="Username" value="{{menu.title}}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><span class="input-group-text">Type</span></th>
                <td>

                    <select id="menuFormat" class="custom-select" id="selectTypeMenu">
                        <option value="direct">Direct link</option>
                        <option value="page">Page</option>
                        <option value="post">Post</option>
                        <option value="posts">Posts</option>
                    </select>
            </tr>
            <tr>
                <th scope="row"><span class="input-group-text">Target</span></th>
                <td><input type="text" class="form-control" placeholder="Email" value="{{menu.content}}"></td>
            </tr>
            <tr>
                <th scope="row"></th>
            </tr>
        </tbody>
    </table>

    <div class="pb-3">
        <button onClick="saveMenu()" class="btn btn-success mx-3">Save</button>
        <button onClick="deleteMenu()" class="btn btn-danger">Delete</button>
    </div>

</div>

{{/ admin/content}}


<script>

    $('#menuFormat option[value={{menu.format}}]').prop('selected', true)

    function deleteMenu() {
        console.error("Not implented yet")
    }

    function saveMenu() {

        var postId = $('#postId').val()
        var postTitle = $('#postTitle').val()
        var postName = $('#postName').val()
        var postContent = $('#postContent').val()
        var menuFormat = $('#menuFormat').val()

        $.post(URL + "/API/post/save", { id: postId, title: postTitle, name: postName, content: postContent, format: menuFormat }, (data, statut) => {
            console.log(data)
            window.location = "/admin/menus"
        })

    }

</script>