<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

{{#> admin/content}}

<div id="app" class="my-3">

    <h2 class="m-3">Menus</h2>

    <div class="border rounded bg-white">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Target</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{# menus}}
                <tr>
                    <th scope="row">
                        <a href="/admin/menus/edit/{{_id}}" class="btn btn-link">{{title}}</a>
                    </th>
                    <td>
                        <select class="custom-select menuFormat" disabled>
                            <option value="{{format}}" hidden="hidden"></option>
                            <option value="direct">Direct link</option>
                            <option value="page">Page</option>
                            <option value="post">Post</option>
                            <option value="posts">Posts</option>
                        </select>
                    </td>
                    <td>{{content}}</td>
                    <td>
                        <button onClick="deleteMenu('{{_id}}')" class="btn btn-danger btn-sm deleteMenu">Delete</button>
                    </td>

                </tr>
                {{/ menus}}
                <tr>
                    <th scope="row"><input type="text" id="menuTitle" class="form-control mr-2" placeholder="Title">
                    </th>
                    <td>
                        <select class="custom-select" id="menuFormat" name="menuFormat">
                            <option value="direct">Direct link</option>
                            <option value="page">Page</option>
                            <option value="post">Post</option>
                            <option value="posts">Posts</option>
                        </select>

                    </td>
                    <td><input type="text" id="menuContent" class="form-control mr-2" placeholder="Content"></td>
                    <td><button onClick="addMenu()" class="btn btn-success btn-sm">Add</button></td>

                </tr>
            </tbody>
        </table>

    </div>

</div>

{{/ admin/content}}


<script>

    $(".menuFormat").map((i, e) => {
        var format = 'page'
        format = $(e).find("option[hidden='hidden']").val()
        $(e).find("option[value=" + format + "]").prop('selected', true)
    })


    function addMenu() {
        var menuTitle = $("#menuTitle").val()
        var menuName = menuTitle.toLowerCase()
        var menuContent = $("#menuContent").val()
        var menuFormat = $('#menuFormat').val()


        $.post(URL + "/API/menu/create", { title: menuTitle, name: menuName, content: menuContent, format: menuFormat }, (data, statut) => {
            console.log(data)
            window.location = "/admin/menus"
        })
    }

    function deleteMenu(menuId) {
        $.post(URL + "/API/menu/delete", { id: menuId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/menus"
        })
    }


</script>

<style>
</style>