{{#> admin/content}}

<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/pages" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="pageSave('{{page._id}}')">Save</button>
        <a href="/pages/{{page._id}}" class="btn btn-primary">View</a>
    </div>
</div>

<div class="row my-3">

    <div class="col-md-8 mb-2">

        <!-- Title -->
        <div class="input-group input-group-lg mb-3">
            <input type="text" class="form-control border-0" id="postTitle" value="{{page.title}}"
                placeholder="Page title">
        </div>

        <!-- Content -->
        <textarea id="postContent" rows="30" class="form-control border-0"
            placeholder="Content">{{page.content}}</textarea>

        <div class="p-3">
            <p class="mb-1 text-muted">Created : {{page.createdAt}}</p>
            <p class="mb-1 text-muted">Updated : {{page.updatedAt}}</p>
        </div>



    </div>

    <div class="col-md-4">

        {{#page}}
        {{> admin/edit-status}}
        {{/page}}

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Name</button>
            </div>

            <div class="card-body">
                <input type="text" class="form-control" id="postName" value="{{page.name}}">
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Parent page</button>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" id="postParent" value="{{page.parent}}">
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Image</button>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" id="postImage" value="{{page.image}}">
            </div>
        </div>

    </div>

</div>


{{/ admin/content}}


<script>

    function pageSave(pageId) {

        var page = {
            title: $('#postTitle').val(),
            name: $('#postName').val(),
            content: $('#postContent').val(),
            image: $('#postImage').val(),
            status: $('#postDraft').prop("checked") ? "draft" : "publish",
        }

        $.post(URL + "/API/pages/save", { id: pageId, page: page }, (data, statut) => {
            console.log(data)
            window.location = "/admin/pages/edit/" + pageId
        })

    }


</script>