{{#> admin/content}}

<div class="row pt-3">

    <div class="col-8">

        <input type="hidden" id="postId" name="postId" value="{{post._id}}">

        <div class="border rounded mb-4 shadow-sm">

            <div class="card-header">
                <h3>Edit post</h3>
            </div>

            <div class="card-body p-3">

                <!-- Title -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Title</span>
                    </div>
                    <input type="text" class="form-control" id="postTitle" value="{{post.title}}">
                </div>

                <!-- Content -->
                <textarea id="postContent" rows="15" class="form-control">{{{post.content}}}</textarea>



                <form>
                    <div class="form-group py-3">
                        <label for="postDescription">Description</label>
                        <textarea class="form-control" id="postDescription" rows="3">{{post.description}}</textarea>
                        <small id="postDescription" class="form-text text-muted">Sum up description of the post for the
                            previews</small>
                    </div>
                </form>

                <div class="py-3">
                    <p class="mb-1 text-muted">Created : {{post.createdAt}}</p>
                    <p class="mb-1 text-muted">Updated : {{post.updatedAt}}</p>
                </div>

            </div>
        </div>


        <div class="my-3">
            <a href="/admin/posts" class="btn btn-light">Return</a>
            <button class="btn btn-primary" type="button" onClick="postSave()">Save</button>
            <a href="/post/{{post._id}}" class="btn btn-light">View</a>
        </div>

    </div>

    <div class="col-3">

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Name</button>
            </div>

            <div class="card-body">
                <label for="postName">Name</label>
                <input type="text" class="form-control" id="postName" value="{{post.name}}">
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Categories</button>
            </div>
            <div class="card-body">
                <label for="postCategory">Category</label>
                <input type="text" class="form-control" id="postCategory" value="{{post.category}}">
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Tags</button>
            </div>
            <div class="card-body">
                <label for="postName">Tags</label>
                <input type="text" class="form-control" id="postTags" value="{{post.tags}}">
                <small>Tags separeted with ;</small>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Image</button>
            </div>
            <div class="card-body">
                <label for="postName">Image</label>
                <input type="text" class="form-control" id="postImage" value="{{post.image}}">
                <small>Tags separeted with ;</small>
            </div>
        </div>

    </div>

</div>


{{/ admin/content}}


<script>

    function postSave() {

        var postId = $('#postId').val()
        var postTitle = $('#postTitle').val()
        var postName = $('#postName').val()
        var postContent = $('#postContent').val()
        var postDescription = $('#postDescription').val()
        var postCategory = $('#postCategory').val()
        var postTags = $('#postTags').val()
        var postImage = $('#postImage').val()

        $.post(URL + "/API/post/save", { id: postId, title: postTitle, name: postName, content: postContent, description: postDescription, category: postCategory, tags: postTags, image : postImage }, (data, statut) => {
            console.log(data)
            window.location = "/admin/posts/edit/" + postId
        })

    }


</script>

<style>

</style>