<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{{#> admin/content}}

<div id="app" class="my-3">

    <h2 class="m-3">Posts</h2>
    
    <div class="border rounded">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="post in posts">
                    <th scope="row">
                        <a :href="'/post/' + post._id" class="btn btn-link">\{{post.title}}</a>
                        <a :href="'/admin/posts/edit/' + post._id" class="btn btn-link"><small>Edit</small></a>
                    </th>
                    <td><a :href="'/admin/user/' + post.userId">\{{post.userId}}</a></td>
                    <td>\{{post.category}}</td>
                    <td>\{{post.tags}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                        <button v-on:click="deletePost(post)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button v-on:click="createPost()" onClick="createPost()" class="btn btn-light mt-3">Create</button>

</div>


{{/ admin/content}}

<script>

    function createPost() {
    }

    var app = new Vue({
        el: '#app',
        data: {
            posts: Array(),
        },
        mounted: function () {
            this.getPosts()
        },
        methods: {

            getPosts: function () {
                $.get(URL + "/API/posts", (data, statut) => {
                    console.log(data)
                    this.posts = data.posts
                })
            },
            createPost: function () {
                $.post(URL + "/API/posts/create", { name: "salut", content: "salut" }, (data, statut) => {
                    console.log(data)
                    window.location = "/admin/posts/edit/" + data.post._id
                    this.posts.push(data.post)
                })
            },
            deletePost: function (post) {

                $.post(URL + "/API/posts/delete/" + post._id, {}, (data, statut) => {
                    console.log(data)
                    this.getPosts()
                })

            },

        }
    })

    $(() => {

    })

</script>

<style>
    .to-show {
        display: none;
    }

    .to-hover:hover>.to-show {
        display: flex;
    }
</style>