{{> admin/base}}

{{> admin/header}}

<input type="hidden" id="postId" name="postId" value="{{post._id}}">
<input type="hidden" id="postType" name="postType" value="{{post.postType}}">


<div class="container">
    <div class="card mb-4 shadow-sm">
        <div class="card-body d-flex flex-column align-items-start">

            <!-- Title -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Title</span>
                </div>
                <input type="text" class="form-control" id="postName" value="{{post.name}}">
            </div>

            <p class="mb-1 text-muted">{{post.createdAt}}</p>

            <!-- Test area -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Content</span>
                </div>
                <textarea id="postContent" rows="10" class="form-control">{{{post.content}}}</textarea>
            </div>

        </div>
    </div>


    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Post type</span>
        </div>
        <select class="custom-select" id="inputGroupPostType">
            <option value="post">post</option>
            <option value="page">page</option>
            <option value="menu">menu</option>
            <option value="other">other</option>
        </select>
        <!-- <input type="text" id="postType" class="form-control" value="{{post.postType}}"> -->
    </div>

    <br>


    <a href="/admin/posts" class="btn btn-light">Return</a>
    <button class="btn btn-primary" type="button" id="postSave">Save</button>
    <a href="/posts/{{post._id}}" class="btn btn-light">View</a>

</div>

<a href="/posts">All posts</a>


<script>
    $(document).ready(function () {

        $('#inputGroupPostType').val($("#postType").val()).change()

        $("#postSave").click(() => {

            var postId = $('#postId').val()
            var postName = $('#postName').val()
            var postContent = $('#postContent').val()
            // var postType = $('#postType').val()
            var postType = $('#inputGroupPostType').val()

            $.post(URL + "/posts/save/" + postId, { name: postName, content: postContent, postType: postType }, (data, statut) => {
                console.log(data)

            })

        })

    })

</script>