{{#> admin/content}}

<div id="appp" class="my-3">

    <h2 class="m-3">Posts</h2>

    <div class="border rounded">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{# posts}}
                <tr>
                    <th scope="row">
                        <a href="/admin/post/edit/{{_id}}" class="btn btn-link">{{title}}</a>
                    </th>
                    <td><a :href="'/admin/user/' + post.authorId">{{authorUsername}}</a></td>
                    <td>{{category}}</td>
                    <td>{{tags}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                        <button onClick="deletePost('{{_id}}')" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                {{/ posts}}
            </tbody>
        </table>
    </div>

    <button onClick="createPost()" class="btn btn-light mt-3">Create</button>

</div>


{{/ admin/content}}

<script>

    function createPost() {
        $.post(URL + "/API/posts/create", {}, (data, statut) => {
            console.log(data)
            window.location = "/admin/post/edit/" + data.post._id
        })
    }

    function deletePost(postId) {
        $.post(URL + "/API/posts/delete/", { id: postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/posts"
        })
    }

</script>

<style>
</style>