{{#> admin/content}}

<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/posts" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="postSave()">Save</button>
        <a href="/posts/{{post._id}}" class="btn btn-primary">View</a>
        <!-- <button onClick="deletePost('{{post._id}}')" class="btn btn-danger btn-sm">Delete</button> -->
    </div>
</div>


<div class="row">

    <input type="hidden" id="postId" name="postId" value="{{post._id}}">


    <div class="col-8">

        <div class="mb-4">

            <!-- Title -->
            <div class="my-3">
                <input type="text" class="form-control border-0" id="postTitle" value="{{post.title}}"
                    placeholder="Title">
            </div>

            <!-- Content -->
            <textarea id="postContent" rows="20" class="form-control border-0"
                placeholder="Content">{{{post.content}}}</textarea>

        </div>

    </div>

    <div class="col-4 pt-3">

        {{> admin/edit-status}}


        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Name</button>
            </div>

            <div class="card-body">
                <input type="text" class="form-control" id="postName" value="{{post.name}}">
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Categories</button>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" id="postCategory" value="{{post.category}}">
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Tags</button>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" id="postTags" value="{{post.tags}}">
                <small>Tags separeted with spaces</small>
            </div>
        </div>



        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Image</button>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" id="postImage" value="{{post.image}}">
                <small>Tags separeted with ;</small>
            </div>
        </div>

        <!-- Description -->
        <div class="card mb-2">
            <div class="card-header">
                <button class="btn btn-link" type="button">Description</button>
            </div>
            <div class="card-body">
                <small class="form-text text-muted">Write a description (optional)</small>
                <textarea class="form-control" id="postDescription" rows="3">{{post.description}}</textarea>
            </div>
        </div>


    </div>

</div>


{{/ admin/content}}


<script>

    function postSave() {

        var postId = $('#postId').val()

        var post = {
            title: $('#postTitle').val(),
            name: $('#postName').val(),
            content: $('#postContent').val(),
            description: $('#postDescription').val(),
            category: $('#postCategory').val(),
            format: $('#postFormat').val(),
            tags: $('#postTags').val(),
            image: $('#postImage').val(),
            status: $('#postDraft').prop("checked") ? "draft" : "publish",
        }

        $.post(URL + "/API/posts/save", { id: postId, post: post }, (data, statut) => {
            console.log(data)
            window.location = "/admin/posts/edit/" + postId
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/posts/delete/", { id: postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/posts"
        })
    }


</script>

<style>
    table th,
    td {
        padding-bottom: .75rem;
        padding-right: .75rem
    }
</style>