<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

{{#> admin/content}}

<div id="app" class="my-3">

    <h2 class="m-3">Users</h2>

    <div class="border rounded bg-white">

        <table class="table table-striped table-hover pb-5">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Posts</th>
                </tr>
            </thead>
            <tbody>
                {{# users}}
                <tr>
                    <th scope="row"><a href="/admin/users/edit/{{_id}}" class="btn btn-link">{{#if
                            username}}{{username}}{{else}}-{{/if}}</a></th>
                    <td><span>{{name}}</span></td>
                    <td><a href="mailto:{{email}}" class="btn btn-link">{{email}}</a></td>
                    <td><span>{{role}}</span></td>
                    <td><span>{{postNumber}}</span></td>
                </tr>
                {{/ users}}
            </tbody>
        </table>

    </div>


    <button onClick="createUser()" class="btn btn-primary mt-3">Create</button>


</div>

{{/ admin/content}}


<script>

    function createUser() {

        var userId = $('#userId').val()
        var username = $('#username').val()
        var userRole = $('#userRole').val()
        var userEmail = $('#userEmail').val()
        var userPassword = $('#userPassword').val()

        $.post(URL + "/API/users/create", { id: userId, username: username, role: userRole, email: userEmail, password: userPassword }, (data, statut) => {
            console.log(data)
            window.location = "/admin/users/edit/" + data.user._id
        })


    }

    function deleteUser(menuName) {
        $.post(URL + "/admin/users/delete", { name: menuName }, (data, statut) => {
            console.log(data)
            window.location = "/admin/users"
        })
    }



</script>