{{#> admin/content}}

<div class=" my-3">

    <input type="hidden" id="userId" name="userId" value="{{user._id}}">


    <h2 class="mb-3">User edit - {{user.username}}</h2>

    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"><span class="input-group-text">Username</span></th>
                <th scope="col"><input type="text" id="username" class="form-control" placeholder="Username" value="{{user.username}}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><span class="input-group-text">Role</span></th>
                <td><input type="text" class="form-control" id="userRole" placeholder="Administrator"></td>
            </tr>
            <tr>
                <th scope="row"><span class="input-group-text">Email</span></th>
                <td><input type="text" class="form-control" id="userEmail" placeholder="Email" value="{{user.email}}"></td>
            </tr>
            <tr>
                <th scope="row"></th>
            </tr>
            <tr>
                <th scope="row"><span class="input-group-text">Password</span></th>
                <td><input type="text" class="form-control" id="userPassword" placeholder="Password"></td>
            </tr>
        </tbody>
    </table>

    <div class="my-3">
        <a href="/admin/users" class="btn btn-light">Return</a>
        <button onClick="saveUser()" class="btn btn-success mx-3">Save</button>
        <button onClick="deleteUser()" class="btn btn-danger">Delete</button>
    </div>

</div>

{{/ admin/content}}


<script>

    function saveUser() {

        var userId = $('#userId').val()
        var username = $('#username').val()
        var userRole = $('#userRole').val()
        var userEmail = $('#userEmail').val()
        var userPassword = $('#userPassword').val()

        $.post(URL + "/API/user/save", { id: userId, username: username, role: userRole, email: userEmail, password: userPassword }, (data, statut) => {
            console.log(data)
            window.location = "/admin/users"
        })

    }

    function deleteUser() {

        var userId = $('#userId').val()

        $.post(URL + "/API/user/delete", { id: userId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/users"
        })
    }

    $(document).ready(function () {

        $("#postSave").click(() => {

            var postId = $('#postId').val()
            var postTitle = $('#postTitle').val()
            var postName = $('#postName').val()
            var postContent = $('#postContent').val()
            var postCategory = $('#postCategory').val()

            $.post(URL + "/API/post/save", { id: postId, title: postTitle, name: postName, content: postContent, category: postCategory }, (data, statut) => {
                console.log(data)

            })

        })

    })

</script>