<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

{{#> admin/content}}

<div id="app" class="pt-3">

    <h2 class="m-3">Users</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Posts</th>
            </tr>
        </thead>
        <tbody>
            {{# users}}
            <tr>
                <th scope="row"><a href="/admin/user/{{_id}}" class="btn btn-link">{{#if username}}{{username}}{{else}}-{{/if}}</a></th>
                <td><span>{{name}}</span></td>
                <td><a href="mailto:{{email}}" class="btn btn-link">{{email}}</a></td>
                <td><span>{{role}}</span></td>
                <td><span>{{postNumber}}</span></td>
            </tr>
            {{/ users}}
        </tbody>
    </table>

    <hr>

    <button onClick="createUser()" class="btn btn-primary mx-1">Create</button>


</div>

{{/ admin/content}}


<script>

    function createUser() {
        window.location = "/admin/user/create"
    }

    function deleteUser(menuName) {
        $.post(URL + "/admin/users/delete", { name: menuName }, (data, statut) => {
            console.log(data)
            window.location = "/admin/users"
        })
    }

    
    $(() => {

        $(".postTypeSpan").click(function () {
            $(this).hide();
            $(this).next(".postTypeInput").val($(this).text())
            $(this).next(".postTypeInput").show()
            $(this).next(".postTypeInput").focus()
        })

        $(".postTypeInput").focusout(function () {
            $(this).hide();
            $(this).prev().html($(this).val());
            $(this).prev().show();
        });

    })

</script>