<header class="mb-auto">

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">OP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <!-- <button id="account" class="btn btn-outline-success" type="button">Account</button> -->
                </li>
                <li class="nav-item">
                    <a class="nav-lik p-2" href="/">Home</a>
                    <a class="p-2" href="/posts">Posts</a>
                </li>
                <li class="nav-item">
                    {{#menus}}
                    <a class="p-2" href="/{{name}}">{{title}}</a>
                    {{/menus}}
                </li>


            </ul>

            <!-- if user is login -->
            {{ #user.name }}
            <a id="account" class="btn btn-link" href="/users/account" onClick="account()" role="button">{{ user.name
                }}</a>
            <a id="logout" class="btn btn-link" href="/users/logout" role="button">Log out</a>
            {{ /user.name }}


            <!-- if user is not login -->
            {{ ^user.name }}

            {{> includes/login}}

            <button class="btn btn-outline-primary" type="button" onClick="signup()">Sign up</button>

            {{ /user.name }}

            <a id="admin" class="btn btn-link" href="/admin" role="button">Admin</a>

        </div>
    </nav>

</header>

<script>
    $(() => {


    })

    function signup() {
        $.post(URL + "/users/signup", { name: name }, (data, statut) => {
            console.log(data)
        })
    }

    function account() {

    }

</script>