<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalLogin" data-whatever="@getbootstrap">Log
    in</button>


<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" value="Olivier">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" value="123">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                <button type="button" id="login" class="btn btn-primary">Log in</button>
                <!-- <a id="login" class="btn btn-link" href="/" role="button">Log in</a> -->
            </div>
        </div>
    </div>
</div>

<script>

    $(() => {

        login("Olivier", "123")

        $("#login").click(() => {
            login($("#username").val(), $("#password").val())
            window.location = "/"
        })


    })

    function login(username, password) {
        $.post(URL + "/users/loggin", { name: username, password: password }, (data, statut) => {
            console.log(data)
        })
    }

</script>