<div class="widgets">
    {{# widgets}}
        {{> (lookup . 'name') data=data }}
    {{/ widgets}}
</div>

<footer class="mt-auto">

    <div class="container-flud text-center bg-light">
        <p>CMS by OP</a> .</p>
        <a href="#">Back to top</a>
    </div>

</footer>

<style>

</style>