<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/widget1.js"></script>


<div class="widgets">
    {{# widgets}}
    {{> (lookup . 'name') data=data }}
    {{/ widgets}}
</div>

<div id="app" class="widgets">
    <div v-for="widget in vuewidgets">
        {{!-- <widget1></widget1> --}}
        <widget ></widget>
        </div>
</div>

<footer class="mt-auto">

    <div class="container-flud text-center bg-light">
        <p>CMS by OP</a> .</p>
        <a href="#">Back to top</a>
    </div>

</footer>

<script>
    var app = new Vue({
        el: '#app',
        props: {
            //componentName: { type: String, required: true }
            widget: "widget1"
        },
    })
</script>

<style>

</style>