<header>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">OP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                    <!-- <button id="account" class="btn btn-outline-success" type="button">Account</button> -->
                </li>

                
            </ul>

            {{ #user.name }}
                <a id="account" class="btn btn-link" href="/account" role="button">Hola {{ user.name }}</a>
                <a id="logout" class="btn btn-link" href="/users/logout" role="button">Log out</a>
            {{ /user.name }}

            {{ ^user.name }}
            
            {{> includes/login}}
            <form id="logginForm" class="form-inline">
                
                <button id="signup" class="btn btn-outline-primary" type="button">Sign up</button>
                
            </form>
            
            {{ /user.name }}

            <a id="admin" class="btn btn-link" href="/admin" role="button">Admin</a>

        </div>
    </nav>

    <nav class="nav justify-content-center">
        <a class="p-2" href="/">Home</a>
        <a class="p-2" href="/posts">Posts</a>
        {{#menu}}
            <a class="p-2" href="/{{name}}">{{name}}</a>
        {{/menu}}
    </nav>

</header>

<script>
    $(() => {

    })

</script>