<header>
        <nav class="navbar navbar-light bg-light mb-3">
            <a class="navbar-brand">Navbar</a>

            <ul class="navbar-nav mr-auto">
                <button id="account" class="btn btn-outline-success" type="button">Account</button>
            </ul>

            <form id="logginForm" class="form-inline">
                <span class="input-group-text" id="basic-addon1">@</span>

                <input id="logginInput" type="text" class="form-control mr-2" placeholder="Username" value="Olivier"
                    aria-label="Username" aria-describedby="basic-addon1">
                <button id="loggin" class="btn btn-outline-success mr-2" type="button">Loggin</button>
                <button id="signup" class="btn btn-outline-primary" type="button">Signup</button>

            </form>

        </nav>


    </header>