<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">OP</a>

        <ul class="navbar-nav mr-auto">
            <button id="account" class="btn btn-outline-success" type="button">Account</button>
        </ul>

        <form id="logginForm" class="form-inline">
            <span class="input-group-text" id="basic-addon1">@</span>

            <input id="logginInput" type="text" class="form-control mr-2" placeholder="Username" value="Olivier"
                aria-label="Username" aria-describedby="basic-addon1">
            <button id="loggin" type="button" class="btn btn-outline-success mr-2" data-toggle="modal">Log in</button>
            <button id="signup" class="btn btn-outline-primary" type="button">Sign up</button>
            <a id="admin" class="btn btn-link" href="admin" role="button">Admin</a>

        </form>

    </nav>

    <nav class="nav justify-content-center">
        <a class="p-2" href="/">Home</a>
        <a class="p-2" href="/posts">Posts</a>
        <a class="p-2" href="#">Link</a>
        <a class="p-2 disabled" href="#">Disabled</a>
    </nav>

</header>