{{> includes/base}}

{{> includes/header}}

<div class="container mb-10">

    <div class="row">

        <div class="col-3">
            Menu
        </div>

        <div class="col-9">

            {{#posts}}
            <div class="card mb-3">

                <div class="card-body">

                    <div class="row">

                        <div class="col-9">
                            <h5 class="card-title">
                                <a href="posts/{{_id}}">{{name}}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle {{simple date}}</h6>
                            <p class="card-text">{{contentPreview}}</p>
                            <a href="posts/{{_id}}" class="card-link">Continue reading</a>
                            <!-- <a href="#" class="card-link">Another link</a> -->
                        </div>

                        <div class="col-3">
                            <img src="./img/card-286px180.svg" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            {{/posts}}

        </div>
    </div>

</div>

{{> includes/footer}}

<style>
    img {
        width: 100%;
        height: auto;
    }
</style>