{{> base}}

{{> header}}

<div class="container">

    <div class="row">

        <div class="col-6">

            <div class="card">
                <img class="card-img-top" src="./img/card-286px180.svg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <button id="upgrade" class="btn btn-primary" type="button" value="Upgrade">Upgrade</button>
                </div>
            </div>
        </div>

        <div class="col-6">

            <div class="card ">
                <img class="card-img-top" src="./img/card-286px180.svg" alt="Card image cap">

                <div class="card-body">
                    <h5></h5>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder=1>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" value="build">Build</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>

    <input type="button" class="btn btn-primary mb-2" id="update" value="Update">

</div>



{{> includes/footer}}