{{> includes/base}}


{{> includes/header}}



<div class="container">

    <div class="row">

        {{#posts}}
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-3">
                        <a href="posts/{{_id}}">{{name}}</a>
                    </h3>
                    <!-- <div class="mb-1 text-muted">{{createdAt}}</div> -->
                    <p id="postContent" class="card-text mb-auto">{{{contentPreview}}}</p>
                    <a href="posts/{{_id}}">Continue reading</a>
                </div>
            </div>
        </div>
        {{/posts}}

        {{ ^posts }}
        No post existing yet
        {{ /posts }}

    </div>

</div>

{{> includes/footer}}



<script>


</script>