{{> header}}

<div class="container py-5">

    <div class="row">

        <div class="col-md-8">

            <article>

                <div class="thumbnail text-center">
                    <!-- <img src="/img/card-286px180.svg" alt="Card image cap" class="rounded" width="auto" height="300"> -->
                    <img src="/media/{{post.image}}" alt="Card image cap" class="rounded" width="auto" height="300">
                </div>

                <header class="m-3 ml-5 mb-3">
                    <h2><a href="post/{{_id}}">{{post.title}}</a></h2>
                </header>

                <div class="body ml-5 p-1 mb-3">
                    <p class="card-text">{{post.content}}</p>
                </div>

                <footer class="pb-3 ml-5">
                    <span class="text-muted">{{post.tags}}</span>

                    <div class="text-muted">
                        <span class="mr-5 text-muted">Olivier</span>
                        <span class="mr-5 text-muted">{{toSimpleDate post.createdAt}}</span>
                        <p class="text-muted text-right">{{post.category}}</p>
                    </div>
                </footer>

                <h4 class="mb-3">
                    <a href="/posts">All posts</a>
                </h4>

            </article>

        </div>

        <div class="col-md-3">
            {{> sidebar}}
        </div>

    </div>
</div>


{{> footer}}

<script>

</script>