<div class="form-group row">
    {{> admin/types/field-label}}
    <div class="col-sm-5">
        <input type="text" class="form-control" id="post-{{@key}}" value="{{toDate value}}" {{disabled}}>
        <small class="form-text text-muted">{{comment}}</small>
    </div>
</div>

<script>

</script>