<div class="form-group row">
    <div class="col-sm-12">
        <input type="text" class="form-control form-control-lg" id="post-{{@key}}" value="{{value}}"
            placeholder="{{labelify @key}}">
    </div>
</div>