<div>
    <form action="/search" class="">
        <input id="widget-search-value" name="query" class="form-control mr-sm-2" type="search" placeholder="Search..."
            aria-label="Search" value="">
    </form>
</div>