<button id="create-post-{{name}}" class="btn btn-light m-1">Create</button>

<script>

    $('#create-post-{{name}}').click(() => {

        var post = {}

        $.post(URL + "/API/{{name}}/create", { post }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{name}}/edit/" + data.post._id
        })
    })


</script>