{{> admin/header}}

<div class="container-fluid">

    <div class="row">

        <div class="col-2 bg-dark">
            {{> admin/nav}}
        </div>

        <div class="col-10 ">
            {{> @partial-block }}
        </div>
    </div>
</div>

{{> footer}}