<div class="card mb-2">
    <div class="card-header">
        <button class="btn btn-link" type="button">Status and Visibility</button>
    </div>
    <div class="card-body">

        <table class="table table-sm">
            <tr>
                <td>Status</td>
                <td>{{status}}</td>
            </tr>

            <tr>
                <td><span class="text-muted">Created</span></td>
                <td><span class="text-muted">{{toElapsedTime createdAt}}</span></td>
            </tr>

            <tr>
                <td><span class="text-muted">Updated</span></td>
                <td><span class="text-muted">{{toElapsedTime updatedAt}}</span></td>
            </tr>
            <tr>
                <td>Format</td>
                <td>
                    <select class="custom-select">
                        <option value="default">Default</option>
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                        <option value="text">Text</option>
                        <option value="link">Link</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td><input type="checkbox" value="1" id="postDraft" {{#ifeq status "draft"}}checked{{/ifeq}}></td>
                <td><label>Save as draft</label></td>
            </tr>

            <tr>
                <td></td>
                <td><button onClick="deletePost('{{_id}}')" class="btn btn-danger btn-sm">Delete</button></td>
            </tr>


        </table>

    </div>
</div>

<style>
    .table td {
        border-top: 0px
    }
</style>