<nav class="nav flex-column">
    <a class="nav-item nav-link py-3 active" href="/admin"><i class="fas fa-home mr-1"></i>Home</a>
    <a class="nav-item nav-link" href="/admin/posts">Posts</a>
    <a class="nav-item nav-link" href="/admin/menu">Menu</a>
    <a class="nav-item nav-link" href="/admin/pages">Pages</a>
</nav>