<div class="form-group row">
    <label class="col-sm-2 col-form-label">{{@key}}</label>
    <div class="col-sm-10">

        <img src="/medias/{{value}}" alt="alt" height="128" width="128" class="mb-2">

        <form>
            <input type="file" name="file" id="file"> <br>
            <input type="submit" id="addMedia" class="btn btn-light mt-3" value="Add" />
        </form>
        <small class="form-text text-muted">{{comment}}</small>
    </div>
</div>


<script>

    $(function () {
        $("#addMedia").click(function (event) {
            event.preventDefault()

            var formData = new FormData()

            var files = $('#file')[0].files[0];

            formData.append('sampleFile', files);

            var xhr = new XMLHttpRequest();

            xhr.open('POST', "/API/medias/upload", true);

            xhr.onload = function (e) {
                window.location = window.location
            }

            xhr.send(formData);

        })

    })


</script>